<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wall</title>
  </head>
  <body>
    <h2>Wall</h2>
    <a href="{% url 'wall:add_message' %}">Add Message</a>
    {% for message in messages %}
    <div class="message">
      <p>{{ message.user.username }} - {{ message.message }}</p>
      <a href="{% url 'wall:add_comment' message.id %}">Add Comment</a>
      {% for comment in message.comments.all %}
      <div class="comment">
        <p>{{ comment.user.username }} - {{ comment.comment }}</p>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </body>
</html>
