<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create stuent Invoice</title>
  </head>
  <body>
    <form method="post">
      {% csrf_token %}
      <select name="student">
        {% for student in students %}
        <option value="{{ student.id }}">
          {{ student.user.first_name }} {{ student.user.second_name }}
        </option>
        {% endfor %}
      </select>
      <input type="number" name="amount" placeholder="Amount" />
      <input type="text" name="description" placeholder="Description" />
      <input type="submit" value="Create Invoice" />
    </form>
  </body>
</html>
