<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Invoice</title>
  </head>
  <body>
    <p>
      Teacher: {{ invoice.teacher.user.first_name }} {{
      invoice.teacher.user.second_name }}
    </p>
    <p>Amount: {{ invoice.amount }}</p>
    <p>Description: {{ invoice.description }}</p>
    <a href="{% url 'billing:teacher_invoices' %}">Back to Invoices</a>
  </body>
</html>
