<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Quotes</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand">Quotes</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/home/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-3">
      <h1 class="mb-4">Quotes</h1>

      <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
          <label for="author" class="form-label">Author:</label>
          <input
            type="text"
            class="form-control"
            id="author"
            name="author"
            required
          />
        </div>
        <div class="mb-3">
          <label for="text" class="form-label">Quote:</label>
          <textarea
            class="form-control"
            id="text"
            name="text"
            required
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Quote</button>
      </form>

      <hr />
      <!--  -->
      {% if quotes %}
      <ul class="list-group">
        {% for quote in quotes %} {% with like_count=quote.likes.count %}
        <li class="list-group-item">
          <p class="mb-1">Quote - " {{ quote.text }} "</p>
          <p class="mb-1">Author - {{ quote.author }}</p>
          <p class="mb-1">
            You have {{ like_count }} like{{ like_count|pluralize }}
          </p>
          <p class="card-text">
            Posted by
            <a href="{% url 'user_quotes' quote.addby.id %}"
              >{{ quote.addby.username }}</a
            >
            {% if user.id == quote.addby.id %}
            <a
              href="{% url 'delete_quote' quote.id %}"
              class="btn btn-danger btn-sm"
              >Delete</a
            >
            {% endif %}
            <a
              href="{% url 'like_quote' quote.id %}"
              class="btn btn-secondary btn-sm"
              >Like</a
            >
            <a
              href="{% url 'unlike_quote' quote.id %}"
              class="btn btn-primary btn-sm"
              >Unlike</a
            >
          </p>
        </li>
        {% endwith %} {% endfor %}
      </ul>
      {% else %}
      <p>No quotes found.</p>
      {% endif %}
    </div>
  </body>
</html>
