<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add students</title>
  </head>
  <body>
    <form method="post">
      {% csrf_token %}
      <label>First Name: <input type="text" name="first_name" /></label><br />
      <label>Last Name: <input type="text" name="last_name" /></label><br />
      <label
        >Enrollment Date: <input type="date" name="enrollment_date" /></label
      ><br />
      <button type="submit">Save</button>
    </form>
  </body>
</html>
