<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Invoice</title>
  </head>
  <body>
    <form method="post">
      {% csrf_token %}
      <label
        >Student:
        <select name="student">
          {% for student in students %}
          <option value="{{ student.id }}">
            {{ student.first_name }} {{ student.last_name }}
          </option>
          {% endfor %}
        </select> </label
      ><br />
      <label
        >Teacher:
        <select name="teacher">
          {% for teacher in teachers %}
          <option value="{{ teacher.id }}">
            {{ teacher.first_name }} {{ teacher.last_name }}
          </option>
          {% endfor %}
        </select> </label
      ><br />
      <label>Amount: <input type="text" name="amount" /></label><br />
      <label>Invoice Date: <input type="date" name="invoice_date" /></label
      ><br />
      <button type="submit">Save</button>
    </form>
  </body>
</html>
